<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>Yahtzee</h1>

      <div class="page-actions pull-right">
        <btn class="btn btn-primary" id="roll">Roll Dice</btn>
        <btn class="btn btn-primary" id="nG">New Game</btn>
      </div>
        
        <img value="0" class="di" id=d0 src="/images/img/dice0.gif">
        <img value="1" class="di" id=d1 src="/images/img/dice0.gif">
        <img value="2" class="di" id=d2 src="/images/img/dice0.gif">
        <img value="3" class="di" id=d3 src="/images/img/dice0.gif">
        <img value="4" class="di" id=d4 src="/images/img/dice0.gif">
        <br>
        
        <div class="rowSelection" id="1"><div id="s1" class="selection"></div>1's</div>
        <div class="rowSelection" id="2"><div id="s2" class="selection"></div>2's</div>
        <div class="rowSelection" id="3"><div id="s3" class="selection"></div>3's</div>
        <div class="rowSelection" id="4"><div id="s4" class="selection"></div>4's</div>
        <div class="rowSelection" id="5"><div id="s5" class="selection"></div>5's</div>
        <div class="rowSelection" id="6"><div id="s6" class="selection"></div>6's</div>
        <div class="rowSelection" id="7"><div id="s7" class="selection"></div>3ofKind</div>
        <div class="rowSelection" id="8"><div id="s8" class="selection"></div>4ofKind</div>
        <div class="rowSelection" id="9"><div id="s9" class="selection"></div>fullHouse</div>
        <div class="rowSelection" id="10"><div id="s10" class="selection"></div>smallStraight</div>
        <div class="rowSelection" id="11"><div id="s11" class="selection"></div>largeString</div>
        <div class="rowSelection" id="12"><div id="s12" class="selection"></div>yahtzee</div>
        <div class="rowSelection" id="13"><div id="s13" class="selection"></div>chance</div>
        <div class="rowSelection" id="14"><div id="s14" class="selection"></div>Total.</div>

    </div>
  </div>
</template>
